[package]
name = "asm-rs"
description = "ObjectWeb ASM implemented in Rust"
version = "0.1.0"
edition = "2024"
license = "MIT"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
zip = "8.1.0"
